@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    background: url('/img/background.jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -moz-background-size: cover;    /* Firefox 3.6+ */
    -o-background-size: cover;      /* Opera 9.6+ */
    background-size: cover;         /* Современные браузеры */
    height:100%;
    width:100%; 
   }

.container img {
    border-radius: 50%;
    margin: 2em auto;
    margin-left: 50px;
    height: 150px;                  /* as per requirement */
    min-height: 150px;              /* for shorter than 150px pics */
    min-width: inherit;             /* for smaller than 250px pics */
    overflow: hidden 
    }  


body {
    margin: 0;
  }

h1 {
    font-family: 'Bree Serif', serif;
    color: rgba(26, 26, 26, 0.753);
    margin-left: 20px;
    margin-right: 20px;
    }

h2 {
    font-family: 'Bree Serif', serif;
    color: rgb(26, 26, 26, 0.753);
    margin-left: 20px;
    margin-right: 20px;
    }

p {
    text-indent: 20px;
    font-family: 'Bree Serif', serif;
    color: rgb(26, 26, 26, 0.753);
    margin-left: 20px;
    margin-right: 20px;
    }

ul  {
    font-family: 'Bree Serif', serif;
    color: rgb(26, 26, 26, 0.753);
    }

  .container {
    display: flex;
    flex-direction: row;
    background:rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
  }
  .container .side_left {
    height: 100%;
    width: 600px;
    background: rgba(255, 255, 255, 0.733);
    }
  .container .bc {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .container .bc .b {
    height: 50%;
    background: rgba(0, 0, 255, 0);
  }
  .container .bc .c {
    height: 50%;
    background: rgba(0, 128, 0, 0);
  }
